<ion-header id="main">
  <ion-toolbar color="pink" class="mainColor">
    <ion-buttons slot="start">
      <button mat-icon-button>
        <ion-menu-button>
          <mat-icon>menu</mat-icon>
        </ion-menu-button>
      </button>
    </ion-buttons>
    <ion-title>
      <span class="header-spacer">Transaction</span>
    </ion-title>
  </ion-toolbar>
  <ng-container *ngIf="months$ | async as months">
    <mat-tab-group
      [selectedIndex]="initialSelectedMonth$ | async"
      (selectedIndexChange)="selectMonth($event)"
    >
      <mat-tab *ngFor="let month of months" [label]="getShortName(month)">
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</ion-header>
<ion-content>
  <ng-container *ngIf="currentMonth$ | async as month">
  <mat-list>
    <mat-card *ngFor="let transaction of transactions$ | async" class="card-container">
      <mat-card-header>
        <div mat-card-avatar class="header-image" [ngStyle]="{'background-color': getStatusColor(transaction.paymentStatus.value)}">
        </div>
        <mat-card-title>
          <span>{{transaction.description}}</span>
        </mat-card-title>
        <mat-card-subtitle>
          <span class="aligned-with-icon">{{transaction.creditedAccount.name}}</span>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          <span class="aligned-with-icon">{{transaction.debitedAccount.name}}</span>
          <div *ngIf="transaction.budgetedAmount && !isForBudgetedAccount(transaction)"> Budgeted Fr. {{transaction.budgetedAmount | number: '0.2-2'}}</div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div><span>{{transaction.indication.name}}</span></div>
        <div><span>{{transaction.paymentType.name}}</span></div>
      </mat-card-content>
      <mat-card-actions>
        <mat-card-title *ngIf="transaction.effectiveAmount">
          <span>Fr. {{transaction.effectiveAmount | number: '0.2-2'}}</span>
        </mat-card-title>
        <mat-card-title *ngIf="isForBudgetedAccount(transaction)">
          <span>Fr. {{transaction.budgetedAmount | number: '0.2-2'}}</span>
        </mat-card-title>
        <button mat-icon-button>
          <mat-icon (click)="openDialog(transaction, month)">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon (click)="openDuplicateDialog(transaction)">file_copy</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon (click)="deleteTransaction(transaction)">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <button mat-fab class="fab-button-right mainButton">
      <mat-icon (click)="openDialog(null, month)">add</mat-icon>
    </button>
  </mat-list>
  </ng-container>
</ion-content>
