<ion-header id="main">
  <ion-toolbar color="pink" class="mainColor">
    <ion-buttons slot="start">
      <ion-menu-button>
        <mat-icon>menu</mat-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span class="header-spacer" *ngIf="virtualAccount !== undefined">{{virtualAccount.name}}</span>
    </ion-title>
  </ion-toolbar>
  <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selectMonth($event)">
    <mat-tab *ngFor="let selectedMonth of months" [label]="getShortName(selectedMonth)">
    </mat-tab>
  </mat-tab-group>
</ion-header>
<ion-content>
  <table mat-table [dataSource]="transactions">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">
        {{element.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th class="right-align" mat-header-cell *matHeaderCellDef> Amount </th>
      <td class="right-align"  mat-cell *matCellDef="let element">
          <div *ngIf="element.hasAmount && !isInTheFuture()"> {{element.amount | number: '0.2-2'}}</div>
          <div *ngIf="element.hasAmount" class="budgeted">{{element.budgetedAmount | number: '0.2-2'}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th class="right-align" mat-header-cell *matHeaderCellDef> Balance </th>
      <td class="right-align" mat-cell *matCellDef="let element">
         <div *ngIf="!isInTheFuture()"> {{element.balance | number: '0.2-2'}}</div>
          <div class="budgeted">{{element.budgetedBalance | number: '0.2-2'}}</div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectTranaction(row)" [ngClass]="{'header' : !row.hasAmount}"></tr>
  </table>
</ion-content>
