<ion-app class="container">
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <mat-list role="list">
          <ion-menu-toggle>
            <mat-list-item role="listitem"><a mat-button [routerLink]="['/overview/']">Overview</a></mat-list-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <mat-list-item role="listitem"><a mat-button [routerLink]="['/account/']">Accounts</a></mat-list-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <mat-list-item role="listitem"><a mat-button [routerLink]="['/transaction/']">Transactions</a></mat-list-item>
          </ion-menu-toggle>
      </mat-list>
    </ion-content>
  </ion-menu>
  <router-outlet></router-outlet>
</ion-app>
