<ion-header id="main">
    <ion-toolbar color="pink" class="mainColor">
      <ion-buttons slot="start">
        <ion-menu-button>
          <mat-icon>menu</mat-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>
        <span class="header-spacer">Account</span>
      </ion-title>
      <ion-buttons slot="end">
        <button mat-icon-button (click)="editAccount(null)">
          <mat-icon>add</mat-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
  <mat-list>
    <mat-card appearance="outlined" class="example-card" *ngFor="let iteratedAccount of accounts | async" matRipple
              appMatElevation>
      <mat-card-header>
        <mat-card-title>
          <span class="aligned-with-icon">{{iteratedAccount.realAccount.name}}</span>
        </mat-card-title>
        <mat-card-subtitle>
                    <span>{{iteratedAccount.realAccount.id}} |
                        {{iteratedAccount.realAccount.accountType.name}}</span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="iteratedAccount.virtualAccounts">

          <ng-container matColumnDef="name">
            <td mat-cell *matCellDef="let element">
              {{element.name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="selectVirtualAccount(element)">
                <mat-icon>launch</mat-icon>
              </button>
              <button mat-icon-button (click)="editVirtualAccount(element, iteratedAccount.realAccount)">
                <mat-icon>
                  edit
                </mat-icon>
              </button>
              <!-- <button mat-icon-button (click)="deleteVirtualAccount(element)" color="warn">
                      <mat-icon >delete</mat-icon>
                  </button> -->
            </td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="editVirtualAccount(null, iteratedAccount.realAccount)">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="editAccount(iteratedAccount.realAccount)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="selectAccount(iteratedAccount.realAccount)">
          <mat-icon>launch</mat-icon>
        </button>
        <!-- <button mat-icon-button  (click)="deleteAccount(iteratedAccount)" color="warn">
                <mat-icon>delete</mat-icon>
            </button> -->
      </mat-card-actions>
    </mat-card>
    </mat-list>
</ion-content>
