<h1 ng-if="data.isNew" mat-dialog-title>Create new Account</h1>
<h1 ng-if="!data.isNew" mat-dialog-title>Edit Account</h1>
<div mat-dialog-content class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
  		<input matInput [(ngModel)]="data.virtualAccount.name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button [disabled]="isDisabled(data.virtualAccount)" color="accent" [mat-dialog-close]="data">Save</button>
</div>