<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-list role="list">
      <mat-list-item role="listitem"><a mat-button routerLink="/overview/">Overview</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button routerLink="/account/">Accounts</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button routerLink="/transaction/">Transactions</a></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <span class="header-spacer">Transaction</span>
        <button mat-icon-button>
          <mat-icon (click)="openDialog(null)">add</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selectMonth($event)">
      <mat-tab *ngFor="let selectedMonth of months; let index = index" [label]="selectedMonth.short">
        <mat-list>
          <mat-card class="example-card" *ngFor="let transaction of transactions;">
            <mat-card-header>
              <div mat-card-avatar class="header-image" [ngStyle]="{'background-color': transaction.status.color}">
              </div>
              <mat-card-title>
                <span class="aligned-with-icon">{{transaction.debitedAccount.name}}</span>
                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                <span class="aligned-with-icon">{{transaction.creditedAccount.name}}</span>
              </mat-card-title>
              <mat-card-subtitle>
                <span>{{transaction.indication.name}} | {{transaction.paymentType.name}}</span>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div *ngIf="transaction.budgetedAmount" class="budgetValue"> Budgeted Fr. {{transaction.budgetedAmount}}
              </div>
              <div *ngIf="transaction.effectiveAmount">Effective Fr. {{transaction.effectiveAmount}}</div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-icon-button>
                <mat-icon (click)="openDialog(transaction)">edit</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                <mat-icon (click)="deleteTransaction(transaction)">delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>