body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: #a690be;
}

.header-spacer {
  flex: 1 1 auto;
}

.mat-drawer-container {
  min-height: 250px;
}

.mat-drawer-content {
  background-color: #a690be;
}

.mainColor {
  background-color: #9581ab;
}

ion-toolbar {
  padding-top: 30px !important;
  --background: #9581ab;
}

mat-tab-group {
  background-color: #a690be;
}

ion-content {
  --background: #a690be;
  min-height: 80vh;
}

.realAccount-name {
  background-color: #d4ccdd;
  color: black;
}

.header {
  background-color: #9581ab !important;
}

.budgeted {
  color: grey;
}
