body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
  }

.header-spacer {
  flex: 1 1 auto;
}

.mat-drawer-container {
  min-height: 250px;
}

.mat-drawer-content {
  background-color: #ffdfdf;
}

.mainColor {
  background-color: #FEB9B7;
}

ion-toolbar {
  padding-top: 30px !important;
}

mat-tab-group {
  background-color: #ffdfdf;
}