table {
  width: 100%;
}
.realAccount {
  font-weight: bold;
}
.virtualAccount {
  padding-left: 15px;
}

.clickable {
  cursor: pointer;
}

.right-align {
  text-align: right;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, 0.3);
  padding-right: 10px;
}


.mat-mdc-cell {
border-bottom-width: 0;
background: var(--theme-background);
}

.mat-mdc-table .mat-mdc-header-cell {
border-bottom-width: 0;
background: var(--theme-background);
}

.realAccount-name {
  background-color: var(--accent-color);
  color: black;
  border-top-width: 1px;
}
