table {
  width: 100%;
}
.realAccount{
  font-weight: bold;
}
.virtualAccount{
  padding-left: 15px;
}

.budgeted {
  color: grey;
}

.clickable {
  cursor: pointer;
}

.right-align{
  text-align: right;
}